<% @company.comments.each do |comment| %>
<a href="/users"><strong><%=comment.user.name%></strong></a>
  <%= comment.comment_body %>
<% end %>
<%= form_tag "/comments", method: :post do %> 
  <div class="form-group">
    <div class="form-group">
      <label for="text">Comment: </label>
      <textarea rows="4" cols="50" type="text" class="form-control" name="comment_body" placeholder="Add comment here"></textarea>
    </div> 
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-info"><a href="/company.id">Cancel</a></button>
    </div>
  </div>
<% end %>