<h1> Public Transport Companies in Kigali </h1>


<div class="container">
<%= button_to "Add a New Company", "/companies/new", class: "btn btn-primary", method: :get %> </br>
  <% @companies.each_slice(3) do |three_companies| %>
    <div class="row">
        <% three_companies.each do |company| %>
          <div class="col-md-4">
            <h3> <a href="/companies/<%= company.id %>"><%= company.name %></a></h3>
            <h3> <%= company.description %></h3>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
<table class="table-striped">