<div class="new-section">
  <div class="row">
    <h3> New company is being added </h3>
    <%= form_tag "/companies", method: :post do %> 
      <div class="col-md-10">
        <div class="form-group">
          <label for="text">Name: </label>
          <input type="text" class="form-control" name="name" placeholder="Company name">
        </div> 
        <div class="form-group">
          <label for="text">Description: </label>
          <textarea type="text" class="form-control" name="description" placeholder="Company Description"></textarea>
        </div> 
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button class="btn btn-info"><a href="/companies">Cancel</a></button>
        </div>
      </div>
    <% end %>
  </div>
</div>