<div class="row">
  <% @bus_routes.each do |bus_route| %>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th> 
      </tr>
      <tr>
        <td><%= bus_route.name %></td>
        <td><%= bus_route.description %></td> 
      </tr>
    </table>
   <% end %>
</div>


